<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <%= gravatar_for(current_user, size: 30, cssClass: "gravatar-comment") %>
  <span class="addcomment">
    <%# form_for (micropost.comments.build) do |form| %>
    <%= form_for micropost.comments.build, url: micropost_comments_path(micropost), html: { method: :post } do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <div class="field">
        <%# form.label :content %><br>
        <%= form.text_area :content, placeholder: "Your comment..." %>
      </div>
      <%= form.submit "Reply", class: "btn btn-primary" %>
    <% end %>
  </span>

  <%# if micropost.comments.any? == "true" %>
  <% if micropost.comments.count > 0 %>
    <span class="showcomment">
      <h3>Comments (<%= micropost.comments.count %>)</h3>
      <ol class="microposts">
		    <% micropost.comments.all.each do |comment| %>
          <%= render comment %>
        <% end %>
      </ol>
    </span>
  <% end %>
</li>